table {
  width: 100%;
  border-collapse: collapse;
}
table, th, td {
  border: 1px solid #aaa;
  padding: 5px;
}
tr:nth-child(even) {
    background-color: #eee;
}
.content img {
  display: block;
  margin: auto;
}
/* Youtube fake button over the thumbnail (from http://stackoverflow.com/a/28710709) */
.youtube-link {
  display: block;
  position: relative;
  margin: auto;
}
.youtube-link:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url(/images/play.png) no-repeat center center;
}

/* Comments */
.comments img {
  display: inline;
  vertical-align: middle;
}
.comment-author-name {
  font-weight: bold;
}
.comment-date {
  font-style: italic;
}
.comment-replies {
  padding-left: 30px;
}
.comment-body blockquote {
  border-left: 6px solid #bbb;
  margin: 0.5em 0 0.5em 1.5em;
  background: #eee;
  color: #222;
}
.comment-body p {
  margin: 10px;
}
.comment-body blockquote p {
  margin: 0;
}