table {
  width: 100%;
  border-collapse: collapse;
}
table, th, td {
  border: 1px solid #aaa;
  padding: 5px;
}
tr:nth-child(even) {
    background-color: #eee;
}
.content img {
  display: block;
  margin: auto;
}